{% extends 'shop/base.html' %}

{% block title %}
HOME
{% endblock %}

{% block content %}

{% include 'shop/components/navigation.html' %}
{% include 'shop/components/header.html' %}
{% include 'shop/components/modal.html' %}


    <!-- Start Content -->
    <div class="container py-5">
        <div class="row">
            {% include 'shop/components/accordion.html' %}
            <div class="col-lg-9">
                <div class="row">
                    {% include 'shop/components/filter_by_gender.html' %}
                    {% include 'shop/components/filter_in_options.html' %}
                </div>
                <div class="row">
                    {% include 'shop/components/card.html' %}
                </div>
                {% include 'shop/components/paginator.html' %}
            </div>

        </div>
    </div>
    <!-- End Content -->

    <!-- Start Brands -->
{% include 'shop/components/brands.html' %}
    <!--End Brands-->

{% include 'shop/components/footer.html' %}

{% endblock %}