{% extends 'shop/base.html' %}

{% block title %}
HOME
{% endblock %}

{% block content %}

{% include 'shop/components/navigation.html' %}
{% include 'shop/components/header.html' %}
{% include 'shop/components/modal.html' %}



    <!-- Open Content -->
{% include 'shop/components/card_single_content.html' %}
    <!-- Close Content -->

    <!-- Start Article -->
    {% include 'shop/components/related_producs.html' %}
    <!-- End Article -->


{% include 'shop/components/footer.html' %}

{% endblock %}